.wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.container {
  position: relative;
  width: 400px;
  height: 280px;
  padding: 40px 32px 32px 32px;
  background-color: #fff;
  border-radius: 8px;
  .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    cursor: pointer;
  }
  .body {
  }
  .title {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .guide {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
