.wrapper {
  padding: 20px 0 18px 0;
  & + .wrapper {
    border-top: solid 1px rgba(0, 0, 0, 0.1);
  }
}
.header {
  position: relative;
  display: flex;
  .follow-btn {
    position: absolute;
    top: 12px;
    right: 0;
    border-radius: 4px;
    padding: 5px 20px;
  }
}

.avatar {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  object-fit: cover;
}
.note {
  margin-top: 2px;
  margin-left: 10px;
}
.infor-link {
  &:hover {
    cursor: pointer;
    .nickname {
      text-decoration: underline;
    }
  }
}
.icon {
  margin-bottom: 2px;
}
.nickname {
  display: inline;
  font-size: 1.8rem;
}
.name {
  display: inline;
  margin-left: 6px;
  font-size: 1.4rem;
  font-weight: 500;
}
.title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2px;
}
.icon-music {
  margin: 0 4px -4px 0;
}
.music {
  font-size: 1.6rem;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}
.container {
  display: flex;
}
.wrapper-video {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  line-height: 0;
  margin-top: 8px;
  &:hover {
    cursor: pointer;
  }
  .run-btn {
    display: none;
    position: absolute;
    bottom: 38px;
    left: 22px;
    color: #fff;
    z-index: 10;
    cursor: pointer;
  }
  .volume-wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 38px;
    right: 22px;
    .background-volume {
      position: absolute;
      height: 68px;
      width: 24px;
      top: -9px;
      right: 0;
      left: -11px;
      bottom: 0;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.2);
    }
    .volume-control {
      display: none;
      position: relative;
      user-select: none;
    }
    .show {
      display: unset;
    }
    .volume-level {
      z-index: 3;
      border: 1px solid transparent;
      position: absolute;
      background-color: #a2a2a6;
      height: 4px;
      width: 2px;
    }
    .volumeIcon {
      margin-top: 10px;
      // background-color: black;
    }
    .volume-bar {
      position: relative;
      user-select: none;
      height: 50px;
      width: 2px;
      border: 1px solid transparent;
      background-color: #fff;
    }
    .volume-remote {
      z-index: 2;
      user-select: none;
      position: absolute;
      top: 0;
      left: -5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      z-index: 99;
      background-color: #fff;
    }
  }
  .video {
    border-radius: 8px;
  }
}
.wrapper-video:hover {
  .run-btn {
    display: unset;
  }
  .volume-wrapper {
    display: flex;
  }
}
.interactive {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 28px;
}
